<div id='portfolio' class='wrap'>
  <div class='description'>
    <h1 id='portfolio_label' class='pink'>Portfolio</h1>
    <h2 class='white'>Architecture + Design</h2>
    <h2 class='white'>Project 2005 - 2014</h2>
  </div>

  <section id="options" class="clearfix">
    <div class="option-combo">
      <ul id="filters" class="option-set clearfix" data-option-key="filter">
        <li><a href="#show-all" data-option-value="*" class="selected pink">Show all</a></li>
        <li> | </li>
        <li><a href="#job" data-option-value=".job" class="pink">My jobs</a></li>
        <li> | </li>
        <li><a href="#study" data-option-value=".study" class="pink">My studies</a></li>
      </ul>
    </div>
  </section>

  <div id='container'>
    <% @arsomsilp_works.each do |project_name, cover_and_images| %>

      <% picture = cover_and_images["cover"].first %>
      <div class='element <%= "job #{project_name}" %>'>
        <% picture.slice! "app/assets/images/" %>

        <% full_picture = picture.dup %>
        <% full_picture.slice! "_thumb" %>
        <a href='<%= "assets/#{full_picture}" %>' data-lightbox='<%= project_name %>' class='lightbox'>
          <%= image_tag picture, class: "thumbnail" %>
        </a>
      </div>

      <% cover_and_images["images"].each do |image| %>
        <div class='<%= "hide job #{project_name}" %>'>
          <% image.slice! "app/assets/images/" %>

          <% full_picture = image.dup %>
          <% full_picture.slice! "_thumb" %>
          <a href='<%= "assets/#{full_picture}" %>' data-lightbox='<%= project_name %>' class='lightbox'></a>
      </div>
      <% end %>

    <% end %>

    <% @images.each do |root_key, values| %>

      <% values.each do |sub_key, pictures| %>

        <% pictures.each do |picture| %>

          <div class='element  <%= "#{root_key} #{sub_key}" %>'>
            <% picture.slice! "app/assets/images/" %>

            <% full_picture = picture.dup %>
            <% full_picture.slice! "_thumb" %>
            <a href='<%= "assets/#{full_picture}" %>' data-lightbox='<%= picture %>' class='lightbox'>
              <%= image_tag picture, class: "thumbnail" %>
            </a>
          </div>

        <% end %>

      <% end %>

    <% end %>

  </div>
</div>