<div id='portfolio' class='wrap'>
  <div class='description'>
    <h1 id='portfolio_label' class='pink'>Portfolio</h1>
    <h2 class='white'>Architecture + Design</h2>
    <h2 class='white'>Project 2005 - 2014</h2>
  </div>

  <section id="options" class="clearfix">
    <div class="option-combo">
      <ul id="filters" class="option-set clearfix" data-option-key="filter">
        <li><a href="#show-all" data-option-value="*" class="selected pink">Show all</a></li>
        <li> | </li>
        <li><a href="#job" data-option-value=".job" class="pink">My jobs</a></li>
        <li> | </li>
        <li><a href="#study" data-option-value=".study" class="pink">My studies</a></li>
        <li> | </li>
        <li><a href="#study" data-option-value=".honor" class="pink">Honor & Special training</a></li>
      </ul>
    </div>
  </section>

  <div id='container'>
    <% @arsomsilp_works.each do |project_name, cover_and_images| %>

      <% picture = cover_and_images["cover"] %>
      <div class='element <%= "job #{project_name}" %>'>

        <% full_picture = picture.dup %>
        <% full_picture.slice! "_thumb" %>
        <a href='<%= "assets/#{full_picture}" %>' data-lightbox='<%= project_name %>' class='lightbox'>
          <%= image_tag picture, class: "thumbnail" %>
        </a>
      </div>

      <% cover_and_images["images"].each do |image| %>
        <div class='<%= "hide job #{project_name}" %>'>
          <% image.slice! "app/assets/images/" %>

          <% full_picture = image.dup %>
          <% full_picture.slice! "_thumb" %>
          <a href='<%= "assets/#{full_picture}" %>' data-lightbox='<%= project_name %>' class='lightbox'></a>
      </div>
      <% end %>

    <% end %>

    <!-- THESIS -->
    <div class='element study thesis'>
      <% image = @thesis["cover"] %>
      <% full_image = image.dup %>
      <% full_image.slice! "_thumb" %>
      <a href='<%= "assets/#{full_image}" %>' data-lightbox='thesis' class='lightbox'>
        <%= image_tag image, class: "thumbnail" %>
      </a>
    </div>
    <% @thesis["images"].each do |image| %>
      <div class='study thesis'>
        <% image.slice! "app/assets/images/" %>

        <% full_image = image.dup %>
        <% full_image.slice! "_thumb" %>
        <a href='<%= "assets/#{full_image}" %>' data-lightbox='thesis' class='lightbox'></a>
      </div>
    <% end %>
    <!-- THESIS -->

    <% @images.each do |root_key, values| %>

      <% values.each do |sub_key, pictures| %>

        <% pictures.each do |picture| %>

          <div class='element  <%= "#{root_key} #{sub_key}" %>'>
            <% picture.slice! "app/assets/images/" %>

            <% full_picture = picture.dup %>
            <% full_picture.slice! "_thumb" %>
            <a href='<%= "assets/#{full_picture}" %>' data-lightbox='<%= picture %>' class='lightbox'>
              <%= image_tag picture, class: "thumbnail" %>
            </a>
          </div>

        <% end %>

      <% end %>

    <% end %>

    <!-- HONOR -->
    <% @honor.each do |image| %>
      <div class='element honor' >
        <% image.slice! "app/assets/images/" %>
        <% full_image = image.dup %>
        <% full_image.slice! "_thumb" %>
        <a href='<%= "assets/#{full_image}" %>' data-lightbox='<%= image %>' class='lightbox'>
          <%= image_tag image, class: "thumbnail" %>
        </a>
      </div>
    <% end %>
    <!-- HONOR -->

  </div>
</div>