<div id='portfolio' class='wrap sub-wrap'>
  <h3>Portfolio</h3>

  <div id='container'>
    <div class='item'><%= image_tag "folio/PLATE3.jpg", class: "thumbnail" %></div>
    <div class='item'><%= image_tag "folio/PLATE4.jpg", class: "thumbnail" %></div>
    <div class='item'><%= image_tag "folio/PLATE5.jpg", class: "thumbnail" %></div>
    <div class='item'><%= image_tag "folio/PLATE6.jpg", class: "thumbnail" %></div>
    <div class='item'><%= image_tag "folio/PLATE7.jpg", class: "thumbnail" %></div>
    <div class='item'><%= image_tag "folio/PLATE8.jpg", class: "thumbnail" %></div>
    <div class='item'><%= image_tag "folio/PLATE9.jpg", class: "thumbnail" %></div>
    <div class='item'><%= image_tag "folio/PLATE10.jpg", class: "thumbnail" %></div>
    <div class='item'><%= image_tag "folio/PLATE11.jpg", class: "thumbnail" %></div>
    <div class='item'><%= image_tag "folio/PLATE12.jpg", class: "thumbnail" %></div>
    <div class='item'><%= image_tag "folio/PLATE13.jpg", class: "thumbnail" %></div>
  </div>
</div>