<div id='portfolio'>
  <h3>Portfolio</h3>

  <div id='works'>

    <div class='work-item'>
      <div class='work-item-left'>
        <%= image_tag "work1.gif", class: "thumbnail" %>
      </div>
      <div class='work-item-right'>
        <h4 class='work-title'>Work 1</h4>
        <span>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur placerat pharetra vestibulum. Nulla posuere sem at vulputate sodales. Maecenas placerat, turpis id laoreet sodales, tellus leo consectetur enim, sit amet eleifend eros lectus sed urna. Curabitur in arcu augue. Etiam id metus facilisis, rhoncus lacus vitae, semper neque.
        </span>
      </div>
    </div>

    <div class='work-item'>
      <div class='work-item-left'>
        <%= image_tag "work1.gif", class: "thumbnail" %>
      </div>
      <div class='work-item-right'>
        <h4 class='work-title'>Work 2</h4>
        <span>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur placerat pharetra vestibulum. Nulla posuere sem at vulputate sodales. Maecenas placerat, turpis id laoreet sodales, tellus leo consectetur enim, sit amet eleifend eros lectus sed urna. Curabitur in arcu augue. Etiam id metus facilisis, rhoncus lacus vitae, semper neque.
        </span>
      </div>
    </div>


    <div class='work-item'>
      <div class='work-item-left'>
        <%= image_tag "work1.gif", class: "thumbnail" %>
      </div>
      <div class='work-item-right'>
        <h4 class='work-title'>Work 3</h4>
        <span>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur placerat pharetra vestibulum. Nulla posuere sem at vulputate sodales. Maecenas placerat, turpis id laoreet sodales, tellus leo consectetur enim, sit amet eleifend eros lectus sed urna. Curabitur in arcu augue. Etiam id metus facilisis, rhoncus lacus vitae, semper neque.
        </span>
      </div>
    </div>

    <div class='work-item'>
      <div class='work-item-left'>
        <%= image_tag "work1.gif", class: "thumbnail" %>
      </div>
      <div class='work-item-right'>
        <h4 class='work-title'>Work 4</h4>
        <span>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur placerat pharetra vestibulum. Nulla posuere sem at vulputate sodales. Maecenas placerat, turpis id laoreet sodales, tellus leo consectetur enim, sit amet eleifend eros lectus sed urna. Curabitur in arcu augue. Etiam id metus facilisis, rhoncus lacus vitae, semper neque.
        </span>
      </div>
    </div>

    <div class='work-item'>
      <div class='work-item-left'>
        <%= image_tag "work1.gif", class: "thumbnail" %>
      </div>
      <div class='work-item-right'>
        <h4 class='work-title'>Work 5</h4>
        <span>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur placerat pharetra vestibulum. Nulla posuere sem at vulputate sodales. Maecenas placerat, turpis id laoreet sodales, tellus leo consectetur enim, sit amet eleifend eros lectus sed urna. Curabitur in arcu augue. Etiam id metus facilisis, rhoncus lacus vitae, semper neque.
        </span>
      </div>
    </div>

  </div>
</div>