<div id='landing' class='wrap'>
    <h3 class='center big'>PORTFOLIO</h3>
    <h3 class='center'>Ketnipha Pontongshaisawad</h3>
    <div id='home'>
        <h3>Somethings Here</h3>
        <p class='white'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed egestas nec metus vel volutpat. Integer vel sagittis leo, ac dignissim justo. Maecenas luctus aliquet sollicitudin. Nam eleifend porta felis quis sagittis. Fusce condimentum velit ipsum, id interdum dui bibendum ac. Integer a eros sed nibh interdum aliquam. Praesent sit amet ipsum mi. Quisque et odio sed purus ullamcorper rhoncus eu a turpis. Phasellus sit amet mi non leo tempor feugiat in sed tellus.</p>
        <p class='white'>Vestibulum euismod massa vel nisi auctor laoreet. Duis hendrerit hendrerit mi porta pulvinar. Pellentesque egestas turpis eget feugiat accumsan. In hac habitasse platea dictumst. In at mollis neque. Fusce hendrerit lobortis lorem in laoreet. Phasellus metus felis, faucibus id lobortis vel, pellentesque sit amet lacus.</p>
    </div>
</div>

<%= render "shared/main_nav" %>
<%= render "shared/left_nav" %>
<%#= render "portfolios/list" %>
<%= render "portfolios/grid" %>
<%= render "about_me/show" %>
<%= render "contact/show" %>