<div id='landing' class='wrap'>
  <label id='manifesto'>" Architecture is the art of nature "</label>
  <label id='owner'>Ketnipha Pontongshaisawad</label>
</div>

<%= render "shared/main_nav" %>
<%= render "portfolios/grid" %>
<%= render "about_me/show" %>
<%= render "links/show" %>
<%= render "contact/show" %>